/** font size**/
$x-small:0.75rem; //12px;
$small:0.875rem; //14px;
$regular:1rem; //16px;
$large:1.25rem; //20px;
$x-large:1.5rem; //24px;
$Biggest:1.875rem; //30px;

/** color **/
/**$backgroundColor:#f6f6f6;*/
$backgroundColor:#fcfbfb;
$navigationColor:#f3f3f3;
$PointColor: #00296B;
$PrimaryColor:#00509D;
$SecondaryColor:#003F88;
$BlackColor:#333333;
$GrayColor:#666666;
$CloudyColor:#D8D8D8;

/** etc color **/
$RedColor:#DA4444;
$GreenColor:#28B928;
$YellowColor:#FFEE56;
$OrangeColor:#F4B82C;
$WhiteColor:#FFFFFF;

