

.layout {
   width: 100vw; height: auto;
   display: flex;

   .left {
        border-right: 1px solid #ccc;
        header {
            height: 88px;line-height: 88px; width: 200px;  text-align: center;
            font-size: 1.2em; font-weight: bold; box-sizing: border-box;
            border-bottom: 1px solid #ccc;
            :hover {
                opacity: 0.8;
            }
        }
   }

   .right {
        .contentsHeader{
            height: 88px;line-height: 88px; 
            border-bottom: 1px solid #ccc;
        }
   }
}