
 
 @use '../../common/style/variable';

.main_menu {
    margin-top: 20px; margin-bottom: 15px; box-sizing: border-box;   
    width: 480px; 
    .menu_section {
        background-color: rgb(6, 106, 201, 0.2); border-radius: 0.125rem; 
        margin-bottom: 1.2em;  position: relative; 
        .move-btn {
            position: absolute; right: 1px; top: -34px; cursor: pointer;
            display: flex; gap: 12px; z-index: 0;
            .scroll-btn {
                    --size: 24px;
                    width: var(--size); height: var(--size);
                    border: none;
                    border-radius: 50%;
                    background: rgb(#90a4ae, 0.4);
                    backdrop-filter: blur(8px);
                    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: all 0.25s ease;
                    color: #333;
                    svg {
                        width: 16px;height: 16px; stroke: currentColor;
                        stroke-width: 3; fill: none;
                    }
                    &:hover {
                        transform: scale(1.08);
                    }
                }
        }
        
        ul {
            padding: 0 2rem; height: 100%; 
            display: flex;  justify-content: left; height: 58px; align-items: center;
            width: 100%;  overflow: hidden; // 스크롤 숨김 
            cursor: grab;

            li {
                min-width: 92px; text-align: center; 
                padding: 0.5rem 0.5rem; border-radius: 0.4em; cursor: pointer;
                box-sizing: border-box; list-style: none; color: #043f77;
                font-size: variable.$regular; font-weight: 300; text-align: center;
                margin-right: 8px;
                &:last-child,&:nth-last-child(2) {
                    margin-right: 0;
                }
                &.active //, &:hover {
                {
                    color: #ffffff;  
                    background-color:#066ac9;
                    font-weight: 600;
                }
            }
        }

       
    }
    .sub_menu {
        display: flex; 
        flex-wrap: wrap; gap: 16px; 
        padding: 1.5em;background-color: rgb(245, 247, 249);
        border-radius: 0.8em; min-height: 188px;  width: 480px;
        .menu { 
            padding: 0.4em; width: calc(33.333% - 14px); 
            flex: 0 0 calc(33.333% - 14px); /* 한 줄에 3개 (간격 고려) */
            a {
                display: block; height: 38px; line-height: 38px; color: #000; 
                font-weight: 600; background-color: #fefefe;  padding: 0 0.4em;
                border:#b4b4b4 1px solid; border-radius: 0.4em; text-align: center;
                font-size: variable.$small; text-decoration: none; overflow: hidden;
                text-overflow: ellipsis; white-space: nowrap;
                &:hover {
                    transform: scale(1.06);
                }
            }  
        }
    }
}