.pagetop-button {
  background-color: #003F88; 
  color: white;
  position: fixed; width: 48px; height: 48px; text-align: center; line-height: 50px;
  bottom: 15px; right: 15px; cursor: pointer; 
  border-radius: 10%;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease, transform 0.1s ease;
  &:hover {
    
      background-color: #00509D; 
  }
  &:active {
  transform: scale(0.97);
  }
}
