 
 @use '../../common/style/variable' as *;

 .link-box {
    display: flex; gap: 15px; justify-content: center; margin-top: 20px;
    div {
        width: 35px; height: 35px;
        svg {
            width: 35px; height: 35px;
        }
        &:hover {
            background-color: $CloudyColor;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
.copyright {
    text-align: center; color: $GrayColor; font-size: $small;
    margin-top: 10px;
}